// {
//   "extends": ["wesbos"],
//   "rules": {
//     "prefer-const": "off",
//     "no-console": 0,
//     "prettier/prettier": [
//       "error",
//       {
//         "trailingComma": "es5",
//         "singleQuote": true,
//         "printWidth": 120,
//         "tabWidth": 4
//       }
//     ]
//   }
// }

// https://eslint.org/docs/user-guide/configuring#specifying-parser-options
// "off" or 0 - turn the rule off
// "warn" or 1 - turn the rule on as a warning (doesn't affect exit code)
// "error" or 2 - turn the rule on as an error (exit code is 1 when triggered)
{
  "env": { "es6": true },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  // "extends": "eslint:recommended",

  "rules": {
    // "no-console": "warn",
    // "prefer-const": "warn",
    // "no-unused-vars": "warn",
    "semi": "warn",

    "quotes": ["warn", "single"]
  }
}
